@import './common/var.scss';
@import "./mixins/mixins";
$vui-checkbox-size: 20px;
@include b(checkbox) {
  overflow: hidden;
  user-select: none;
  &::before {
    margin: 0 auto;
    line-height: $vui-checkbox-size;
  }
  @include e(input) {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: $vui-checkbox-size;
    .custom-vu-icon-success {
      color: $white;
      display: block;
      font-size: 12px;
      text-align: center;
      pointer-events: none;
      border: 1px solid #aaa;
      width: $vui-checkbox-size;
      height: $vui-checkbox-size;
      box-sizing: border-box;
      margin: 0;
      &::before {
        margin: 0 auto;
        line-height: $vui-checkbox-size;
      }
    }
  }
  @include e(label) {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: $vui-checkbox-size;
  }
  @include e(control) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    &:checked + .custom-vu-icon-success  {
      border-color: $green;
      background-color: $green;
    }
  }
  @include m(round) {
    .custom-vu-icon-success {
      border-radius: 100%;
    }
  }
  @include when(disabled) {
    .custom-vu-icon-success {
      background-color: currentColor;
      color: $background-color;
      border-color: $gray-light;
    }
    @include e(control) {
      &:checked + .custom-vu-icon-success  {
        border-color: $gray-light;
        background-color: $gray-light;
      }
    }
  }
}