@import './common/var.scss';

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'vui-icon';
  src: url('./vui-icon-743c0e.ttf') format('truetype');
}
.vu-icon {
  font-family:"vui-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vu-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 "vui-icon";
  text-rendering: auto;
  display: block;
  font-size: 32px;
  margin: 15px 0;
  color: rgba(69,90,100,.8);

  &__info {
    color: #fff;
    left: 50%;
    top: -.5em;
    font-size: .5em;
    margin-left: .8em;
    padding: 0 .3em;
    text-align: center;
    min-width: 1.2em;
    line-height: 1.2;
    position: absolute;
    border-radius: .6em;
    box-sizing: border-box;
    background-color: $red;
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
  }

  &:before {
    display: inline-block;
  }
}

.vu-icon-add-o:before {
  content: "\F000";
}
.vu-icon-add:before {
  content: "\F001";
}
.vu-icon-add2:before {
  content: "\F002";
}
.vu-icon-after-sale:before {
  content: "\F003";
}
.vu-icon-alipay:before {
  content: "\F004";
}
.vu-icon-arrow-left:before {
  content: "\F005";
}
.vu-icon-arrow:before {
  content: "\F006";
}
.vu-icon-balance-details:before {
  content: "\F007";
}
.vu-icon-balance-pay:before {
  content: "\F008";
}
.vu-icon-birthday-privilege:before {
  content: "\F009";
}
.vu-icon-browsing-history:before {
  content: "\F00A";
}
.vu-icon-card:before {
  content: "\F00B";
}
.vu-icon-cart:before {
  content: "\F00C";
}
.vu-icon-cash-back-record:before {
  content: "\F00D";
}
.vu-icon-cash-on-deliver:before {
  content: "\F00E";
}
.vu-icon-certificate:before {
  content: "\F00F";
}
.vu-icon-chat:before {
  content: "\F010";
}
.vu-icon-check:before {
  content: "\F011";
}
.vu-icon-checked:before {
  content: "\F012";
}
.vu-icon-clear:before {
  content: "\F013";
}
.vu-icon-clock:before {
  content: "\F014";
}
.vu-icon-close:before {
  content: "\F015";
}
.vu-icon-completed:before {
  content: "\F016";
}
.vu-icon-contact:before {
  content: "\F017";
}
.vu-icon-coupon:before {
  content: "\F018";
}
.vu-icon-credit-pay:before {
  content: "\F019";
}
.vu-icon-debit-pay:before {
  content: "\F01A";
}
.vu-icon-delete:before {
  content: "\F01B";
}
.vu-icon-description:before {
  content: "\F01C";
}
.vu-icon-discount:before {
  content: "\F01D";
}
.vu-icon-ecard-pay:before {
  content: "\F01E";
}
.vu-icon-edit-data:before {
  content: "\F01F";
}
.vu-icon-edit:before {
  content: "\F020";
}
.vu-icon-exchange-record:before {
  content: "\F021";
}
.vu-icon-exchange:before {
  content: "\F022";
}
.vu-icon-fail:before {
  content: "\F023";
}
.vu-icon-free-postage:before {
  content: "\F024";
}
.vu-icon-gift-card-pay:before {
  content: "\F025";
}
.vu-icon-gift-card:before {
  content: "\F026";
}
.vu-icon-gift:before {
  content: "\F027";
}
.vu-icon-gold-coin:before {
  content: "\F028";
}
.vu-icon-goods-collect:before {
  content: "\F029";
}
.vu-icon-home:before {
  content: "\F02A";
}
.vu-icon-hot-sale:before {
  content: "\F02B";
}
.vu-icon-hot:before {
  content: "\F02C";
}
.vu-icon-like-o:before {
  content: "\F02D";
}
.vu-icon-like:before {
  content: "\F02E";
}
.vu-icon-location:before {
  content: "\F02F";
}
.vu-icon-logistics:before {
  content: "\F030";
}
.vu-icon-member-day-privilege:before {
  content: "\F031";
}
.vu-icon-more-o:before {
  content: "\F032";
}
.vu-icon-more:before {
  content: "\F033";
}
.vu-icon-new-arrival:before {
  content: "\F034";
}
.vu-icon-new:before {
  content: "\F035";
}
.vu-icon-other-pay:before {
  content: "\F036";
}
.vu-icon-passed:before {
  content: "\F037";
}
.vu-icon-password-not-view:before {
  content: "\F038";
}
.vu-icon-password-view:before {
  content: "\F039";
}
.vu-icon-pause:before {
  content: "\F03A";
}
.vu-icon-peer-pay:before {
  content: "\F03B";
}
.vu-icon-pending-deliver:before {
  content: "\F03C";
}
.vu-icon-pending-evaluate:before {
  content: "\F03D";
}
.vu-icon-pending-orders:before {
  content: "\F03E";
}
.vu-icon-pending-payment:before {
  content: "\F03F";
}
.vu-icon-phone:before {
  content: "\F040";
}
.vu-icon-photo:before {
  content: "\F041";
}
.vu-icon-photograph:before {
  content: "\F042";
}
.vu-icon-play:before {
  content: "\F043";
}
.vu-icon-point-gift:before {
  content: "\F044";
}
.vu-icon-points-mall:before {
  content: "\F045";
}
.vu-icon-points:before {
  content: "\F046";
}
.vu-icon-qr-invalid:before {
  content: "\F047";
}
.vu-icon-qr:before {
  content: "\F048";
}
.vu-icon-question:before {
  content: "\F049";
}
.vu-icon-receive-gift:before {
  content: "\F04A";
}
.vu-icon-records:before {
  content: "\F04B";
}
.vu-icon-search:before {
  content: "\F04C";
}
.vu-icon-send-gift:before {
  content: "\F04D";
}
.vu-icon-setting:before {
  content: "\F04E";
}
.vu-icon-share:before {
  content: "\F04F";
}
.vu-icon-shop-collect:before {
  content: "\F050";
}
.vu-icon-shop:before {
  content: "\F051";
}
.vu-icon-shopping-cart:before {
  content: "\F052";
}
.vu-icon-sign:before {
  content: "\F053";
}
.vu-icon-stop:before {
  content: "\F054";
}
.vu-icon-success:before {
  content: "\F055";
}
.vu-icon-tosend:before {
  content: "\F056";
}
.vu-icon-underway:before {
  content: "\F057";
}
.vu-icon-upgrade:before {
  content: "\F058";
}
.vu-icon-value-card:before {
  content: "\F059";
}
.vu-icon-wap-home:before {
  content: "\F05A";
}
.vu-icon-wap-nav:before {
  content: "\F05B";
}
.vu-icon-wechat:before {
  content: "\F05C";
}
